body{
    background: #f1f3f6;
    scroll-behavior: smooth;
}

input{
    border-radius: 0;
}

.carousel-controls{
    background-color: rgba(95, 95, 95, 0.7);
    margin-left: 5px;
    padding: 5px 2px;
}





.ft-small{
    font-size: 14px;
}


@media screen and (max-width:425px) {
    .ft-small{
        font-size: 10px;
    }
}


